# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
**/target
/.vscode
*bak
.vscode

# visual studio code
.history
*.log

# screenshot
screenshot
.firebase
.eslintcache
.changelog
.changelog.md